<div data-controller="issue--finish-toggle"
  class="issue--finish-toggle-wrapper <%= has_hover_animation? ? "hover-animated" : "" %>"
  data-issue--finish-toggle-finish-path-value="<%= helpers.finish_issue_path(@issue) %>"
  data-issue--finish-toggle-unfinish-path-value="<%= helpers.unfinish_issue_path(@issue) %>"
  >
  <div class="issue--finish-toggle <%= check_style_classes %> cpy-finish-check-toggle"
    data-issue--finish-toggle-target="toggle"
    data-action="click->issue--finish-toggle#toggle">

    <div class="finish-icon">
      <i class="fa fa-check text-success"></i>
    </div>
  </div>
</div>