<div data-controller="issue--finish-toogle"
  class="issue--finish-toggle-wrapper <%= has_hover_animation? ? "hover-animated" : "" %>"
  data-issue--finish-toogle-finish-path-value="<%= helpers.finish_issue_path(@issue) %>"
  data-issue--finish-toogle-unfinish-path-value="<%= helpers.unfinish_issue_path(@issue) %>"
  >
  <div class="issue--finish-toggle <%= check_style_classes %> cpy-finish-check-toogle"
    data-issue--finish-toogle-target="toggle"
    data-action="click->issue--finish-toogle#toogle">

    <div class="finish-icon">
      <i class="fa fa-check text-green-500"></i>
    </div>
  </div>
</div>