<%= content_tag(:dialog, {
    # We pass the open value to the modal controller so we can open it programmatically
    # when the element is inserted in the DOM so the show animation is triggered
    data: { controller: "modal", "modal-open-value": open } ,
    id: dialog_id,
    class: "modal"
  }) do %>
  <%= content_tag(:div, modal_box) do %>
    <% unless hide_close_button? %>
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 cpy-close-modal">
          <i class="ti ti-x"></i>
        </button>
      </form>
    <% end %>
    <%= render_title %>
    <%= content %>
  <% end %>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
<% end %>