@import "tailwindcss";

@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";
@source "../../../app/frontend/**/*";

@plugin "./daisyui.mjs" {
  themes: all;
}

@plugin "./daisyui-theme.mjs" {
  name: "eigenfocus-light";
  default: false;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(98.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: #3A59D1;
  --color-primary-content: oklch(0.949 0.051 257.6);
  --color-secondary: oklch(0.571 0.128 286.5);
  --color-secondary-content: oklch(1.000 0.105 288.0);
  --color-accent: #464555;
  --color-accent-content: oklch(0.917 0.027 288.0);
  --color-neutral: oklch(0.905 0.010 72.1);
  --color-neutral-content: oklch(0.350 0.004 286.3);
  --color-info: #0085d8;
  --color-info-content: oklch(0.174 0.158 247.0);
  --color-success: oklch(0.742 0.110 197.8);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #FFAB56;
  --color-warning-content: oklch(27% 0.105 12.094);
  --color-error: oklch(73.092% 0.11 20.076);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "./daisyui-theme.mjs" {
  name: "eigenfocus-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(49.8% 0.188 268.0);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(53.7% 0.144 285.1);
  --color-secondary-content: oklch(0.056 0.187 288.0);
  --color-accent: oklch(76.2% 0.007 96.4);
  --color-accent-content: oklch(0.145 0.024 66.6);
  --color-neutral: oklch(35.8% 0.017 285.8);
  --color-neutral-content: oklch(0.901 0.027 288.0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #FFAB56;
  --color-warning-content: oklch(0.299 0.016 73.7);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "./daisyui-theme.mjs" {
  name: "dim";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: #566ECF;
  --color-primary-content: oklch(1.000 0.015 254.0);
  --color-secondary: oklch(69.651% 0.059 248.687);
  --color-secondary-content: oklch(13.93% 0.011 248.687);
  --color-accent: #7AC6D2;
  --color-accent-content: oklch(15.492% 0.012 217.469);
  --color-neutral: oklch(45.229% 0.035 264.131);
  --color-neutral-content: oklch(89.925% 0.016 262.749);
  --color-info: oklch(69.207% 0.062 332.664);
  --color-info-content: oklch(13.841% 0.012 332.664);
  --color-success: oklch(0.686 0.101 216.1);
  --color-success-content: oklch(15.365% 0.014 131.063);
  --color-warning: oklch(85.486% 0.089 84.093);
  --color-warning-content: oklch(17.097% 0.017 84.093);
  --color-error: oklch(60.61% 0.12 15.341);
  --color-error-content: oklch(12.122% 0.024 15.341);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "./daisyui-theme.mjs" {
  name: "spookyhalloween";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(28.822% 0.022 277.508);
  --color-base-200: oklch(26.805% 0.02 277.508);
  --color-base-300: oklch(24.787% 0.019 277.508);
  --color-base-content: oklch(97.747% 0.007 106.545);
  --color-primary: oklch(0.755 0.183 42.8);
  --color-primary-content: oklch(15.092% 0.036 346.812);
  --color-secondary: oklch(74.202% 0.148 301.883);
  --color-secondary-content: oklch(14.84% 0.029 301.883);
  --color-accent: oklch(0.394 0.032 100.6);
  --color-accent-content: oklch(0.894 0.024 66.6);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(88.263% 0.093 212.846);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(95.533% 0.134 112.757);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(68.22% 0.206 24.43);
  --color-error-content: oklch(13.644% 0.041 24.43);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

@plugin "./daisyui-theme.mjs" {
  name: "christmas";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #A3485A;
  --color-base-200: #842A3B;
  --color-base-300: #A3485A;
  --color-base-content: oklch(1.000 0.071 12.8);
  --color-primary: #F5DAA7;
  --color-primary-content: oklch(0.360 0.072 83.1);
  --color-secondary: #932F67;
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: #8ABB6C;
  --color-accent-content: oklch(18.685% 0.02 94.555);
 --color-neutral: #C1856D;
  --color-neutral-content: oklch(0.000 0.173 354.8);
  --color-info: oklch(0.394 0.227 262.9);
  --color-info-content: oklch(0.968 0.043 262.9);
  --color-success: oklch(62.705% 0.169 149.213);
  --color-success-content: oklch(12.541% 0.033 149.213);
  --color-warning: oklch(0.947 0.157 58.3);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(73.95% 0.19 27.33);
  --color-error-content: oklch(14.79% 0.038 27.33);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@import "./application/base";
