.focus-space {
  @apply backdrop-blur-md;
  background-color: oklch(0% 0 0/.2);

  @apply py-16 md:py-0;
  @apply w-full min-h-screen flex flex-col justify-center items-center gap-8;
  position: relative;
  display: none;
  z-index: 1;
}

.focus-app.space-showing .focus-space {
  display: flex;
}

@keyframes focus-space-wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}