@import '../base';
@import '../fonts/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-themes-only {
  display: none;
}


@layer components {

  body, html {
    font-family: "Inter", sans-serif;
  }

  body {
    @apply text-readable-content-500;
    background-color: #111;
  }

  .btn {
    @apply cursor-pointer rounded-full text-readable-content-800 inline-flex font-normal items-center justify-center py-2 px-6 text-center text-sm;
    @apply border border-background-300;
    position: relative;
    overflow: hidden;
  }

  .btn:hover {
    @apply border-background-100;
  }

  /*
  This doesn't work on input buttons
  https://stackoverflow.com/questions/4574912/css-content-generation-before-or-after-input-elements
  */
  .btn::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    content: '';
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
    position: absolute;
    transition: height 200ms linear;
  }

  .btn:hover::before,
  .btn:focus::before, {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    height: 120%;
  }

  .btn:active::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    height: 120%;
  }

  .btn-primary {
    @apply btn border-primary-400 bg-primary-300;
  }

  .btn-secondary {
    @apply btn border-secondary-400 bg-secondary-300;
  }
  .btn-tertiary {
    @apply btn border-tertiary-400 bg-tertiary-300;
  }
  .btn-danger {
    @apply btn border-danger-200 bg-danger-400;
  }

  .btn-success {
    @apply btn border-success-400 bg-success-300;
  }

  .btn-cancel {
    @apply btn border-cancel-200 bg-cancel-400;
  }

  .input-primary,
  .flatpickr-input.input-primary {
    @apply w-full rounded-lg border border-background-300 px-3 py-2 placeholder:text-readable-content-400/70 hover:border-background-400 focus:border-primary-500;
    color: black;
  }

  .input-secondary {
    @apply w-full rounded-lg border border-background-300 px-3 py-2 placeholder:text-readable-content-400/70 hover:border-background-400 focus:border-secondary-500;
    color: black;
  }

  .input-sm {
    @apply py-1;
  }

  .label-primary {
    @apply block text-readable-content-500 text-sm;
  }

}

.select2-container--default .select2-results__option--selectable {
  color: black;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  @apply bg-primary-200 text-readable-content-400 !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  @apply placeholder-readable-content-400;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  @apply text-base;
  color: black !important;
  line-height: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  @apply text-readable-content-400;
  background-color: theme(colors.primary.500) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  @apply text-readable-content-400;
  background-color: theme(colors.primary.500) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background-color: theme(colors.primary.300) !important;
  @apply text-readable-content-400;
}
