@import '../base';
@import '../fonts/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-themes-only {
  display: none;
}

.focus-app {
  @apply  backdrop-blur-md;
  --focus-space-color-one: #421b46;
  --focus-space-color-two: #623d5d;
  --focus-space-color-three: #2d2e45;
  --focus-space-color-four: #006262;
  --focus-space-background-opacity: 85%;
  --focus-space-background: linear-gradient(
    -45deg,
    color-mix(in srgb, var(--focus-space-color-one) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-two) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-three) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-four) var(--focus-space-background-opacity), transparent)
  );
  --focus-space-color-readable: #fff;
  --focus-space-slider-circle-color: color-mix(in srgb, var(--focus-space-color-two) 90%, transparent);
  --focus-space-background-animation: animated-gradient-background 14s linear infinite;
}

@layer components {

  body, html {
    font-family: "Inter", sans-serif;
  }

  body {
    @apply text-readable-content-500;
    background-color: #111;
  }

  .btn {
    @apply cursor-pointer rounded-full text-readable-content-800 inline-flex font-normal items-center justify-center py-2 px-6 text-center text-sm;
    @apply border border-background-300;
    position: relative;
    overflow: hidden;
  }

  .btn:hover {
    @apply border-background-100;
  }

  /*
  This doesn't work on input buttons
  https://stackoverflow.com/questions/4574912/css-content-generation-before-or-after-input-elements
  */
  .btn::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    content: '';
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
    position: absolute;
    transition: height 200ms linear;
  }

  .btn:hover::before,
  .btn:focus::before, {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    height: 120%;
  }

  .btn:active::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    height: 120%;
  }

  .btn-primary {
    @apply btn border-primary-400 bg-primary-300;
  }

  .btn-secondary {
    @apply btn border-secondary-400 bg-secondary-300;
  }
  .btn-tertiary {
    @apply btn border-tertiary-400 bg-tertiary-300;
  }
  .btn-danger {
    @apply btn border-danger-200 bg-danger-400;
  }

  .btn-success {
    @apply btn border-success-400 bg-success-300;
  }

  .btn-cancel {
    @apply btn border-cancel-200 bg-cancel-400;
  }
}
