
.focus-app {
  --focus-space-color-one: #301533;
  --focus-space-color-two: #4e2e4a;
  --focus-space-color-three: #2d2e45;
  --focus-space-color-four: hsl(180, 96%, 17%);
  --focus-space-background-opacity: 85%;
  --focus-space-background: linear-gradient(
    -45deg,
    color-mix(in srgb, var(--focus-space-color-one) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-two) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-three) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-four) var(--focus-space-background-opacity), transparent)
  );
  --focus-space-color-readable: #fff;
  --focus-space-slider-circle-color: color-mix(in srgb, var(--focus-space-color-two) 90%, transparent);
  --focus-space-background-animation: animated-gradient-background 14s linear infinite;

  /* Slider */
  --focus-space-color-readable: #fff;
  --focus-space-slider-circle-color: color-mix(in srgb, var(--focus-space-color-two) 80%, transparent);

  /* Modal */
  --focus-space-modal-background: color-mix(in srgb, var(--focus-space-color-two) 80%, transparent);
  --focus-space-modal-border-color: color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);

  /* Input */
  --focus-space-input-background: color-mix(in srgb, var(--focus-space-color-readable) 40%, transparent);
  --focus-space-input-border-color: color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);

  /* Wave background */
  --focus-space-wave-color: rgba(20, 20, 20, 0.3);
}