<div role="alert" class="alert w-full alert-vertical sm:alert-horizontal <%= type.present? ? "alert-#{type}" : "" %>">
  <i class="ti ti-alert-square-rounded"></i>
  <span><%= message %></span>

  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</div>