<div role="alert" class="alert w-full alert-vertical sm:alert-horizontal <%= type.present? ? "alert-#{type}" : "" %>">
  <i class="text-base-content/70 fa-solid fa-circle-info"></i>
  <span><%= message %></span>

  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</div>