<div id="empty-row" class="rounded-box bg-base-100 p-8 text-base-content text-base peer-[.peer-exists]:hidden">
  <p class='text-center col-span-full'>
    <span class="font-base text-xl"><%= message %></span>
    <br/>
    <% if action.present? %>
      <%= link_to action[:url], { class: "btn btn-primary mt-8" }.deep_merge(action[:extra_options]) do %>
        <i class="ti ti-plus"></i>
        <%= action[:text] %>
      <% end %>
    <% end %>
  </p>
</div>
