@import '../base';
@import '../fonts/inconsolata';
@import '../fonts/inter';
@import './focus-app';

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-themes-only {
  display: none;
}

@layer components {

  body, html {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Inconsolata", sans-serif;
  }

  body {
    @apply text-base-content;
    background-color: #111;
  }

  .btn {
    @apply cursor-pointer border-r-4 border-b-4 text-readable-content-50 transition-colors inline-flex font-normal items-center justify-center py-2 px-6 text-center text-sm;
    border-radius: 2px;
  }

  .btn:active {
    @apply border-r-0 border-b-0 border-t-2 border-l-2;
  }

  .btn-primary {
    @apply btn border-primary-400 bg-primary-500;
    @apply hover:border-primary-100 hover:bg-primary-200;
    @apply focus:border-primary-100 focus:bg-primary-200;
    @apply active:border-primary-100 active:bg-primary-200;
  }
  .btn-secondary {
    @apply btn border-secondary-400 bg-secondary-500;
    @apply hover:border-secondary-100 hover:bg-secondary-200;
    @apply focus:border-secondary-100 focus:bg-secondary-200;
    @apply active:border-secondary-100 active:bg-secondary-200;
  }
  .btn-tertiary {
    @apply btn border-tertiary-400 bg-tertiary-500;
    @apply hover:border-tertiary-100 hover:bg-tertiary-200;
    @apply focus:border-tertiary-100 focus:bg-tertiary-200;
    @apply active:border-tertiary-100 active:bg-tertiary-200;
  }
  .btn-danger {
    @apply btn border-danger-200 bg-danger-400;
    @apply hover:border-danger-100 hover:bg-danger-200;
    @apply focus:border-danger-100 focus:bg-danger-200;
    @apply active:border-danger-100 active:bg-danger-200;
  }

  .btn-success {
    @apply btn border-success-400 bg-success-500;
    @apply hover:border-success-100 hover:bg-success-200;
    @apply focus:border-success-100 focus:bg-success-200;
    @apply active:border-success-100 active:bg-success-200;
  }

  .btn-cancel {
    @apply btn border-cancel-200 bg-cancel-400;
    @apply hover:border-cancel-100 hover:bg-cancel-200;
    @apply focus:border-cancel-100 focus:bg-cancel-200;
    @apply active:border-cancel-100 active:bg-cancel-200;
  }
}