@import '../base';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-themes-only {
  display: none;
}


@layer components {

  body, html {
    font-family: "Inconsolata", sans-serif;
  }

  body {
    @apply text-readable-content-500;
    background-color: #111;
  }

  .btn {
    @apply cursor-pointer border-r-4 border-b-4 text-readable-content-50 transition-colors inline-flex font-normal items-center justify-center py-2 px-6 text-center text-sm;
    border-radius: 2px;
  }

  .btn:active {
    @apply border-r-0 border-b-0 border-t-2 border-l-2;
  }

  .btn-primary {
    @apply btn border-primary-400 bg-primary-500;
    @apply hover:border-primary-100 hover:bg-primary-200;
    @apply focus:border-primary-100 focus:bg-primary-200;
    @apply active:border-primary-100 active:bg-primary-200;
  }
  .btn-secondary {
    @apply btn border-secondary-400 bg-secondary-500;
    @apply hover:border-secondary-100 hover:bg-secondary-200;
    @apply focus:border-secondary-100 focus:bg-secondary-200;
    @apply active:border-secondary-100 active:bg-secondary-200;
  }
  .btn-tertiary {
    @apply btn border-tertiary-400 bg-tertiary-500;
    @apply hover:border-tertiary-100 hover:bg-tertiary-200;
    @apply focus:border-tertiary-100 focus:bg-tertiary-200;
    @apply active:border-tertiary-100 active:bg-tertiary-200;
  }
  .btn-danger {
    @apply btn border-danger-200 bg-danger-400;
    @apply hover:border-danger-100 hover:bg-danger-200;
    @apply focus:border-danger-100 focus:bg-danger-200;
    @apply active:border-danger-100 active:bg-danger-200;
  }

  .btn-success {
    @apply btn border-success-400 bg-success-500;
    @apply hover:border-success-100 hover:bg-success-200;
    @apply focus:border-success-100 focus:bg-success-200;
    @apply active:border-success-100 active:bg-success-200;
  }

  .btn-cancel {
    @apply btn border-cancel-200 bg-cancel-400;
    @apply hover:border-cancel-100 hover:bg-cancel-200;
    @apply focus:border-cancel-100 focus:bg-cancel-200;
    @apply active:border-cancel-100 active:bg-cancel-200;
  }

  .input-primary,
  .flatpickr-input.input-primary {
    @apply w-full rounded-lg border border-background-300 px-3 py-2 placeholder:text-readable-content-400/70 hover:border-background-400 focus:border-primary-500;
    color: black;
  }

  .input-secondary {
    @apply w-full rounded-lg border border-background-300 px-3 py-2 placeholder:text-readable-content-400/70 hover:border-background-400 focus:border-secondary-500;
    color: black;
  }

  .input-sm {
    @apply py-1;
  }

  .label-primary {
    @apply block text-readable-content-500 text-sm;
  }

}

.select2-container--default .select2-results__option--selectable {
  color: black;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  @apply bg-primary-200 text-readable-content-400 !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  @apply placeholder-readable-content-400;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  @apply text-base;
  color: black !important;
  line-height: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  @apply text-readable-content-400;
  background-color: theme(colors.primary.500) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  @apply text-readable-content-400;
  background-color: theme(colors.primary.500) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background-color: theme(colors.primary.300) !important;
  @apply text-readable-content-400;
}