
<div data-controller="markdown" class="mb-4 flex flex-col items-stretch gap-2 markdown">
  <div class="flex justify-between">
    <%= f.label :description, Issue.human_attribute_name(:description), class: "label-primary" %>
    <span class="cursor-pointer text-xs flex items-center" data-markdown-target="showPreviewButton" data-action="click->markdown#enablePreview">
      <i class="fa fa-eye"></i>
      <span class="ml-2"><%= t("actions.preview") %></span>
    </span>

    <span class="cursor-pointer text-xs hidden text-primary flex items-center" data-markdown-target="showEditorButton" data-action="click->markdown#disablePreview">
      <i class="fa fa-pencil"></i>
      <span class="ml-2 "><%= t("actions.edit") %></span>
    </span>
  </div>

  <div class="markdown-editor">
    <div class="markdown-content hidden" data-markdown-target="descriptionPreview">
    </div>

    <%= f.text_area :description, class: "input-primary",
    "data-markdown-target": 'descriptionInput' %>
  </div>

</div>