<div id="issue_checklists" class="mt-4 flex flex-col gap-4">
  <h3 class="text-base flex items-center gap-1 font-medium text-base-content">
    <span class="opacity-60 flex items-center"><i class="ti ti-checklist"></i></span>
    <span class="flex items-center"><%= Issue::Checklist.model_name.human(count: 2) %></span>
  </h3>

  <div id="<%= dom_id(issue, :checklists) %>" class="flex flex-col gap-4">
    <%= render partial: "issues/checklists/checklist", collection: issue.checklists.order(:created_at), as: :checklist %>
  </div>

  <%= button_to t("checklists.add_checklist"), issue_checklists_path(issue),
    method: :post,
    class: "btn btn-sm btn-soft self-start" %>
</div>
