@import './_components/all';
@import './select2';
@import './flatpickr';
@import './markdown';
@import './sortablejs';
@import './pagy.tailwind';

:root {
  --alert-color: var(--color-base-100);
}

body {
  transition: background-color 0.2s ease, color 0.2s ease;
}

svg.tabler-icon {
  stroke-width: 1.5;
  height: 18px;
  width: 18px;
}

i.ti {
  font-size: 18px;
  font-weight: 300;
}

@custom-variant sidebar-expanded {
  &:where(.sidebar-expanded *) {
    @slot;
  }
}

html[data-theme="eigenfocus-light"] .hide-on-light {
  display: none;
}

html[data-theme="eigenfocus-dark"] .hide-on-dark {
  display: none;
}

.w-header {
  @apply xl:w-7xl xl:mx-auto w-full;
}

.input-with-icon-wrapper .icon-wrapper {
  @apply text-base-content;
}

.hide-if-empty:not(:has(:first-child)) {
  display: none;
}

[data-is-issue-search-match="false"] {
  display: none;
}

.input-with-icon-wrapper {
  @apply relative flex items-stretch;
}

.input-with-icon-wrapper .icon-wrapper {
  @apply absolute text-base-content inset-y-0 start-0 flex items-center ps-3 pointer-events-none;
}

.input-with-icon-wrapper input,
.input-with-icon-wrapper input.input-primary {
  @apply ps-10;
}
