.pagy-summary {
  @apply flex flex-col sm:flex-row items-center gap-4 justify-between mt-4;

  .pagy.info {
    @apply text-sm text-base-content;
  }

  .pagy.series-nav {
    @apply join rounded-field overflow-hidden;

    a {
      @apply join-item btn btn-sm btn-soft;

      &.gap {
        @apply text-base-content cursor-default;
      }
    }


  }
}