<div class="flex flex-col tour--issue-detail-fields mt-4">
  <%= react_component("IssueDetail/Description", content: issue.description, issueId: issue.id) %>

  <% if issue.persisted? %>
    <%= render partial: 'issues/files_drop', locals: { issue: } %>
  <% end %>
</div>