<li class="cpy-card"
  id="<%= dom_id(issue) %>"
  data-grouping-column-target="card">
  <%= link_to edit_grouping_issue_path(grouping, issue), class: "group relative flex flex-col text-sm text-content-500 border-2 border-background-200 bg-background-50 hover:bg-background-100 hover:border-background-900 cursor-pointer shadow-sm rounded-xl card p-3", data: { turbo_frame: 'issue_form' } do %>

    <div class="hidden flex items-center justify-center p-2 text-xs flex group-hover:flex items-center absolute top-2 right-2 rounded-full  bg-background-50">
      <i class="fa fa-pencil"></i>
    </div>

    <h2 class="font-normal grow break-all">
      <%= issue.title %>
    </h2>

    <%= render partial: 'visualizations/groupings/_card/icons', locals: { issue: } %>
  <% end %>
</li>
