<li class="snap-center cpy-card" id="<%= dom_id(issue) %>">
  <%= link_to edit_grouping_issue_path(grouping, issue), class: "flex flex-col gap-y-2 text-readable-content-300 bg-background-700 hover:text-readable-content-400 hover:bg-background-600 cursor-pointer shadow-sm rounded-xl card p-4", data: { turbo_frame: 'issue_form' } do %>
    <h2 class="font-semibold">
      <%= issue.title %>
    </h2>
    <div class="flex flex-row">
      <% if issue.description.present? %>
        <i class="fa-solid fa-align-justify"></i>
      <% end %>
    </div>
  <% end %>
</li>
