<li class="basis-60 shrink-0 p-2 border bg-body-contrast border-background-100 rounded-md shadow-xs" id="<%= dom_id(grouping) %>">
  <header class="flex flex-col max-h-full">
    <div class="flex items-center justify-between mb-4">
      <%= link_to edit_visualization_grouping_path(grouping.visualization_id, grouping.id), class: "grow font-semibold truncate text-readable-content-500 hover:text-readable-content-700", data: { turbo_frame: 'grouping_form' } do %>
        <%= grouping.title %>
      <% end %>
      <button class="shrink-0 ml-2 text-readable-content-500 hover:text-readable-content-700">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="flex flex-col grow shrink basis-auto flex-nowrap gap-y-2 items-stretch overflow-y-auto overflow-x-hidden scroll-smooth snap-y">
      <%= render partial: 'visualizations/card', collection: grouping.allocations, as: :allocation %>
    </div>
  </header>
</li>
