
<div class="relative inline-flex">
  <button class="btn-contrast btn-md">
    <i class="fa-regular fa-keyboard"></i>
  </button>
  <div class="origin-top-left px-4 py-4 z-10 absolute top-full border border-background-300 right-0 min-w-56 bg-background-50 rounded-md shadow-lg overflow-hidden mt-2">
    <div class="text-xs font-semibold text-readable-content-500 uppercase">
      <span><i class="fa fa-tags mr-1"></i></span>
      Favorite Labels
    </div>
    <div class="mt-4 flex flex-col gap-2">
      <% 6.times do |i| %>
        <div class="flex gap-2 items-stretch">
          <span class="flex items-center bg-background-50 w-4 text-center text-readable-content-500 text-xs font-bold"><%= i %></span>
          <input type="text" class="input-primary h-8 text-xs input-sm" value="<%= visualization.favorite_issue_labels[i] %>">
          <button class="btn-contrast btn-md">
            <i class="fa fa-check"></i>
          </button>
        </div>
      <% end %>
    </div>

  </div>
</div>