.focus-app {
  --focus-space-color-one: #4F46E5;
  --focus-space-color-two: rgb(86, 107, 146);
  --focus-space-color-three: #4f45a3;
  --focus-space-color-four: #2b827c;
  --focus-space-background-opacity: 95%;
  --focus-space-background: linear-gradient(
    -80deg,
    color-mix(in srgb, var(--focus-space-color-one) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-two) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-three) var(--focus-space-background-opacity), transparent),
    color-mix(in srgb, var(--focus-space-color-four) var(--focus-space-background-opacity), transparent)
  );
  --focus-space-color-readable: #fff;
  --focus-space-slider-circle-color: color-mix(in srgb, var(--focus-space-color-one) 90%, transparent);
  --focus-space-background-animation: animated-gradient-background 14s linear infinite;

  /* Slider */
  --focus-space-color-readable: #fff;
  --focus-space-slider-circle-color: color-mix(in srgb, var(--focus-space-color-two) 80%, transparent);

  /* Modal */
  --focus-space-modal-background: color-mix(in srgb, var(--focus-space-color-two) 80%, transparent);
  --focus-space-modal-border-color: color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);

  /* Input */
  --focus-space-input-background: color-mix(in srgb, var(--focus-space-color-readable) 40%, transparent);
  --focus-space-input-border-color: color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);

  /* Wave background */
  --focus-space-wave-color: rgba(30, 30, 30, 0.1);
}