
<%
  form_url = comment.persisted? ? issue_comment_path(comment.issue, comment) : issue_comments_path(comment.issue)
  form_method = comment.persisted? ? :put : :post
%>
<%= form_with model: comment, url: form_url, method: form_method,
  class: "flex flex-col gap-2" do |f| %>

  <%= f.text_area :content,
    required: true,
    rows: 2,
    class: "input-primary" %>

  <div class="flex gap-2 justify-end">
    <%= button_tag t("actions.cancel"), type: "button", class: "link-cancel text-xs", data: { action: "issue--comments#hideForm" } %>
    <%= f.submit t("actions.save"), class: "btn-primary btn-sm" %>
  </div>
<% end %>