
<div id="<%= dom_id(issue, 'card-icons') %>" class="flex mt-2 flex-row items-stretch justify-start gap-3 text-readable-content-500">
  <% if issue.description.present? %>
    <i class="fa-solid text-sm fa-align-justify"></i>
  <% end %>

  <% if issue.files.any? %>
    <i class="fa-solid text-sm fa-file"></i>
  <% end %>
</div>
