
<%= turbo_frame_tag dom_id(issue, 'card-icons'), class: "hide-if-empty" do %>
  <%
    # Checking with only css like :empty doesn't work well because there
    # is still a blank space and the pseudo class is not applied
    # We need to hide this otherwise it will leave a little empty vertical space in the card UI
    has_any_icon_showing = (
      issue.description.present? ||
      issue.files.any? ||
      issue.comments.size > 0
    )
  %>

  <% if has_any_icon_showing %>
    <div class="flex flex-row items-center justify-start gap-3 text-readable-content-500">
      <% if issue.description.present? %>
        <i class="fa-solid text-sm fa-align-justify"></i>
      <% end %>
      <% if issue.files.any? %>
        <i class="fa-solid text-sm fa-file"></i>
      <% end %>
      <% if issue.comments.size > 0 %>
        <span>
          <i class="fa-regular text-sm fa-comment"></i>
          <span class="text-sm"><%= issue.comments.size %></span>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>