:root {
  --label-bg: rgb(219 234 254);
  --label-text-color: #333;
}

.issue-label {
  @apply inline-flex items-center;
  background-color: var(--label-bg);
  font-size: 12px;
  border-radius: 4px;
  padding: 1px 4px;
}

.issue-label > .label-text {
  color: var(--label-text-color);
}

.issue-label.big {
  font-size: 14px;
  padding: 3px 6px;
}