<div class="dropdown dropdown-hover block ">
  <button tabindex="0" role="button"
    class="flex items-center link link-hover text-base-content/60 relative font-mono text-[0.625rem] whitespace-nowrap">
    <% if AppMetadata.instance.is_app_outdated? %>
      <span class="status status-info status-sm mr-1"></span>
    <% end %>
    <span>Free Edition v<%= AppMetadata.instance.current_version %></span>
    <i class="ti ti-chevron-down ml-1" style="font-size: 0.75rem;"></i>
  </button>
  <ul data-controller="theme-switcher" tabindex="-1" class="menu dropdown-content bg-base-100 rounded-box z-1 w-fit-content p-2 shadow-2xl">
    <% if AppMetadata.instance.is_app_outdated? %>
      <li class="text-info text-xs px-2 py-2 uppercase font-medium">
        <%= t(".new_version_available") %>
      </li>
    <% end %>
    <li>
      <a href="https://github.com/Eigenfocus/eigenfocus/releases" target="_blank" class="px-2 flex text-nowrap">
        <i class="ti ti-brand-github mr-1"></i>
        <%= t(".check_our_releases") %>
      </a>
    </li>
    <li>
      <a href="https://eigenfocus.com?utm_source=free_edition&utm_campaign=upgrade_to_pro&utm_content=version_badge" target="_blank" class="px-2 flex text-nowrap">
        <i class="ti ti-rocket mr-1"></i>
        <%= t(".check_pro_edition") %>
      </a>
    </li>
  </ul>
</div>
