/* Color picker */
[data-controller="color-input"] {
  .clr-picker {
    width: 100%;
    overflow: hidden;
    box-shadow: none;

    @apply border border-background-300 bg-body-contrast;

    input.clr-color {
      @apply border border-background-300 bg-background-50 text-readable-content-500 placeholder:text-readable-content-400/70 hover:border-background-400 focus:border-primary-500;
    }
  }
}
