.issue-label {
  @apply inline-flex bg-background-100 items-center border-readable-content-400/40 text-readable-content-500 border border;
  font-size: 12px;
  border-radius: 4px;
  padding: 1px 4px;
}

.issue-label.big {
  font-size: 14px;
  padding: 3px 6px;

}