.sidebar--list {
  @apply max-h-[300px] overflow-y-auto px-8 md:hidden md:sidebar-expanded:block;
  font-size: 0.84rem;

  mask-image: linear-gradient(
    to bottom,
    black 85%,
    rgba(0, 0, 0, 0.02) 100%
  );

  a {
    @apply flex gap-2 items-center font-normal grow text-base-content hover:font-semibold hover:text-primary-800;
    padding: 0.25em 0;

    &:last-child {
      @apply mb-4;
    }
  }
}