.welcome-screen {
  @apply  backdrop-blur-sm;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    color-mix(in srgb, #B06AB3 95%, transparent),
    color-mix(in srgb, #4F45A3 95%, transparent),
    color-mix(in srgb, #4568DC 95%, transparent)
  );
	background-size: 100% 100%;
  animation: animated-gradient-background 12s linear infinite;
  color: rgba(255, 255, 255, 0.6);

  animation: welcome-screen-zoomOutFade 2s forwards;
  animation-delay: 2.6s;

  .welcome-screen--hello {
    opacity: 0;
    animation: welcome-screen-zoomInFade 3s forwards;
  }

  .wave span {
    content: "";
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-20%, -75%);
  }

  .wave span:nth-child(1) {
    border-radius: 45%;
    background: rgba(80, 80, 80, 0.14);
    animation: welcome-screen-wave 5s linear infinite;
  }

  .wave span:nth-child(2) {
    border-radius: 40%;
    background: color-mix(in srgb, #4F45A3 10%, transparent);
    animation: welcome-screen-wave 10s linear infinite;
  }
  .wave span:nth-child(3) {
    border-radius: 42.5%;
    background: color-mix(in srgb, #4568DC 5%, transparent);
    animation: welcome-screen-wave 15s linear infinite;
  }

}

@keyframes welcome-screen-zoomOutFade {
  0% {
      opacity: 1;
      transform: scale(1) translateZ(0);
  }
  100% {
      opacity: 0;
      transform: scale(1.5) translateZ(500px);
  }
}

@keyframes welcome-screen-zoomInFade {
  0% {
    opacity: 0;
    transform: translateZ(-1000px) scale(4);
  }
  60% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(500px) scale(0.8);
  }
}

@keyframes welcome-screen-wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
