@import './select2';
@import './flatpickr';
@import './markdown';
@import './sortablejs';

.btn .loading-spinner,
.btn-primary .loading-spinner,
.btn-secondary .loading-spinner,
.btn-tertiary .loading-spinner {
  width: 0;
  overflow: hidden;
  transition: width 400ms linear;
}

.btn[disabled] .loading-spinner,
.btn-primary[disabled] .loading-spinner,
.btn-secondary[disabled] .loading-spinner,
.btn-tertiary[disabled] .loading-spinner  {
  @apply w-5 -ml-1 mr-3 -ml-1 h-5 animate-spin;
}

.btn.btn-sm[disabled] .loading-spinner {
  @apply w-3 h-3 mr-2;
}

.btn-primary.btn-sm,
.btn-secondary.btn-sm,
.btn-tertiary.btn-sm,
.btn-danger.btn-sm,
.btn-cancel.btn-sm {
  @apply py-1 px-2 text-xs h-7;
}

.btn-primary.btn-xl,
.btn-secondary.btn-xl,
.btn-tertiary.btn-xl,
.btn-danger.btn-xl,
.btn-cancel.btn-xl {
  @apply py-4;
}

.link-base {
  @apply font-medium no-underline transition-colors;
}

.link-primary {
  @apply link-base	text-primary-500 hover:text-primary-700 active:text-primary-700 focus:text-primary-700 visited:text-primary-700;
}

.link-secondary {
  @apply link-base	text-secondary-500 hover:text-secondary-700 active:text-secondary-700 focus:text-secondary-700 visited:text-secondary-700;
}

.link-tertiary {
  @apply link-base text-tertiary-500 hover:text-tertiary-700 active:text-tertiary-700 focus:text-tertiary-700 visited:text-tertiary-700;
}

.card {
  @apply p-5 bg-body-contrast border border-primary-100 rounded-sm shadow-sm;
}

.table-primary {
  @apply text-left w-full border-collapse;
}

.table-primary thead th {
  @apply whitespace-nowrap bg-background-200 px-3 py-3 font-medium text-sm uppercase text-readable-content-500 lg:px-5;
}

.table-primary.table-md thead th {
  @apply px-2 py-2 text-sm;
}

.table-primary.table-compact thead th {
  @apply px-1 py-2 text-xs;
}

.table-primary thead th:first-child {
  @apply rounded-tl-lg;
}

.table-primary thead th:last-child {
  @apply rounded-tr-lg;
}

.table-primary tbody tr {
  @apply border-y border-b-background-200 hover:bg-background-50 bg-body-contrast;
}
.table-primary tbody tr.inactive-row {
  @apply bg-background-50;
}

.table-primary.table-striped tbody tr:nth-child(odd) {
  @apply bg-background-50 hover:bg-background-100;
}

.table-primary.table-striped tbody tr:nth-child(even) {
  @apply bg-body-contrast hover:bg-background-100;
}

.table-primary tbody tr:last-child {
  @apply border-0;
}

.table-primary tbody tr td {
  @apply py-4 px-2 md:px-6 2xl:px-7;
}

.table-primary.table-md tr td {
  @apply py-2 px-2 text-sm;
}


.table-primary.table-compact tr td {
  @apply py-1 px-1 text-xs;
}

.input-primary,
input.input-primary,
.flatpickr-input.input-primary {
  @apply w-full rounded-lg border border-background-300 px-3 bg-background-50 text-readable-content-500 py-2 placeholder:text-readable-content-400/70 hover:border-background-400 focus:border-primary-500;
}

.input-with-icon-wrapper .icon-wrapper {
  @apply text-readable-content-500;
}

.input-sm {
  @apply py-1;
}

.label-primary {
  @apply block text-readable-content-500 text-sm;
}

.input-with-icon-wrapper {
  @apply relative flex items-stretch;
}

.input-with-icon-wrapper .icon-wrapper {
  @apply absolute text-readable-content-500 inset-y-0 start-0 flex items-center ps-3 pointer-events-none;
}

.input-with-icon-wrapper input.input-primary {
  @apply ps-10;
}