.focus-space {
  @apply fixed z-999 top-0 left-0 w-full h-full backdrop-blur-md;
  --color-one: #20002c;
  --color-two: #20002c;
  --color-three: #23a6d5;
  --color-four: #23d5ab;
  --background-opacity: 90%;

  background: linear-gradient(
    -45deg,
    color-mix(in srgb, var(--color-one) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-two) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-three) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-four) var(--background-opacity), transparent)
  );

	background-size: 400% 400%;
	animation: animated-background 14s linear infinite;
	height: 100vh;


  input[type="range"] {
    -webkit-appearance: none; /* Remove default appearance */
    width: 90%;
    height: 5px; /* Or any desired height */
    background: #d3d3d3; /* Or any desired background color */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default appearance */
    appearance: none;
    width: 15px; /* Or any desired width */
    height: 15px; /* Or any desired height */
    background: color-mix(in srgb, var(--color-two) 80%, transparent); /* Or any desired background color */
    cursor: pointer;
    border-radius: 50%; /* Creates the circular shape */
  }

  .ambient-sounds-list {
    @apply max-w-3xl mx-auto;

    .actions {
      @apply flex grow mb-4 gap-8 text-2xl justify-end;

      button {
        @apply text-2xl;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }

    .sound {
      @apply relative border-2 rounded-lg;
      transition: all 0.2s ease-in-out;

      color: rgba(255, 255, 255, 0.7);
      border-color: rgba(255, 255, 255, 0.25);

      svg {
        opacity: 0.8;
      }

      &:hover {
        border-color: rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.2);

        svg {
          opacity: 0.9;
        }
      }

      .slider-wrapper {
        position: absolute;
        transform: rotate(-90deg);
        top: 39%;
        left: -36%;
        width: 86%;
        height: 20px;
      }

      &.sound-playing {
        background: linear-gradient(
          25deg,
          rgba(255, 255, 255, 0.04),
          rgba(230, 230, 230, 0.3)
        );
        animation: animated-background 22s linear infinite;
        border-color: rgba(255, 255, 255, 0.04);
      }

      &.sound-selected {
        border-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

@keyframes animated-background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
