.focus-space {
  @apply fixed z-999 top-0 left-0 w-full h-full backdrop-blur-md;

  --color-one: #20002c;
  --color-two: #20002c;
  --color-three: #23a6d5;
  --color-four: #23d5ab;
  --background-opacity: 90%;
  --readable-color: #fff;

  background: linear-gradient(
    -45deg,
    color-mix(in srgb, var(--color-one) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-two) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-three) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-four) var(--background-opacity), transparent)
  );

	background-size: 400% 400%;
	animation: animated-background 14s linear infinite;
	height: 100vh;

  input[type="range"] {
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: color-mix(in srgb, var(--color-two) 80%, transparent);
    cursor: pointer;
    border-radius: 50%;
  }

  .ambient-sounds-list {
    @apply max-w-3xl mx-auto;

    .actions {
      @apply flex grow mb-4 gap-8 text-xl justify-between;

      .play-button {
        @apply text-base flex items-center rounded-md px-4 py-2;
        border: 1px solid color-mix(in srgb, var(--readable-color) 60%, transparent);
        color: color-mix(in srgb, var(--readable-color) 60%, transparent);

        svg {
          @apply mr-2;
        }

        &:hover {
          color: color-mix(in srgb, var(--readable-color) 80%, transparent);
          border-color: color-mix(in srgb, var(--readable-color) 80%, transparent);
        }
      }

      .preset-button {
        @apply text-base;

        color: color-mix(in srgb, var(--readable-color) 60%, transparent);

        svg {
          @apply mr-2;
        }

        &:hover {
          color: color-mix(in srgb, var(--readable-color) 80%, transparent);
        }
      }

    }

    .sound {
      @apply relative rounded-lg;
      border-width: 3px;

      transition: all 0.2s ease-in-out;

      color: color-mix(in srgb, var(--readable-color) 70%, transparent);
      border-color: color-mix(in srgb, var(--readable-color) 25%, transparent);

      svg {
        opacity: 0.8;
      }

      &:hover {
        border-color: color-mix(in srgb, var(--readable-color) 30%, transparent);
        background-color: color-mix(in srgb, var(--readable-color) 20%, transparent);

        svg {
          opacity: 0.9;
        }
      }

      .wave-wrapper {
        position: absolute;
        bottom: 10px;
        right: 10px;

        svg {
          width: 25px;
          height: auto;
          fill: color-mix(in srgb, var(--readable-color) 50%, transparent);
        }
      }

      .slider-wrapper {
        position: absolute;
        transform: rotate(-90deg);
        top: 39%;
        left: -36%;
        width: 78%;
        height: 20px;
      }

      &.sound-playing {
        background: linear-gradient(
          25deg,
          color-mix(in srgb, var(--readable-color) 4%, transparent),
          color-mix(in srgb, var(--readable-color) 30%, transparent)
        );
        animation: animated-background 22s linear infinite;
        border-color: color-mix(in srgb, var(--readable-color) 40%, transparent);
      }

      &.sound-selected {
        border-color: color-mix(in srgb, var(--readable-color) 70%, transparent);
        color: color-mix(in srgb, var(--readable-color) 70%, transparent);

        svg {
          fill: color-mix(in srgb, var(--readable-color) 70%, transparent);
        }
      }
    }
  }
}

@keyframes animated-background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes pulse-wave {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}

	50% {
		transform: scaleY(0.7);
		transform-origin: 50% 50%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}


.sound-wave .Line_1 {
  animation: pulse-wave 1s infinite;
  animation-delay: 0.15s;
}

.sound-wave .Line_2 {
  animation: pulse-wave 1s infinite;
  animation-delay: 0.3s;
}
.sound-wave .Line_3 {
  animation: pulse-wave 1s infinite;
  animation-delay: 0.45s;
}
.sound-wave .Line_4 {
  animation: pulse-wave 1s infinite;
  animation-delay: 0.6s;
}
.sound-wave .Line_5 {
  animation: pulse-wave 1s infinite;
  animation-delay: 0.75s;
}
.sound-wave .Line_6 {
  animation: pulse-wave 1s infinite;
  animation-delay: 0.9s;
}
.sound-wave .Line_7 {
  animation: pulse-wave 1s infinite;
  animation-delay: 1.05s;
}
.sound-wave .Line_8 {
  animation: pulse-wave 1s infinite;
  animation-delay: 1.2s;
}
.sound-wave .Line_9 {
  animation: pulse-wave 1s infinite;
  animation-delay: 1.35s;
}
