@import '../base';
@import '../fonts/jura';
@import '../fonts/lato';
@import './focus-app';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-themes-only {
  display: none;
}

@layer components {
  body, html {
    font-family: "Lato", sans-serif;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Jura", sans-serif;
  }

  body {
    @apply bg-base-100 bg-opacity-40 text-base-content;
  }

  .btn {
    @apply border cursor-pointer shadow-md transition-colors inline-flex font-normal items-center justify-center rounded-md py-2 px-6 text-center text-sm;
    overflow: hidden;
    position: relative;
  }

  /*
    This doesn't work on input buttons
    https://stackoverflow.com/questions/4574912/css-content-generation-before-or-after-input-elements
   */
  .btn::before {
    content: '';
    background: rgba(255, 255, 255, 0.45);
    width: 40%;
    height: 100%;
    left: -30%;
    transform: skew(45deg);
    position: absolute;
  }

  .btn:hover::before,
  .btn:focus::before {
    transition: left 200ms ease-out;
    left: 85%;
  }

  .btn:active::before {
    left: 0;
    left: -30%;
    transition: left 100ms ease-out;
  }


  .btn-primary {
    @apply btn bg-primary-100 border-primary-300 text-primary-600 font-medium;
    @apply hover:border-primary-600 hover:text-primary-600 hover:bg-primary-100 hover:bg-opacity-100;
    @apply shadow-primary-100/40 active:shadow-primary-300/40;
  }

  .btn-secondary {
    @apply btn bg-secondary-100 border-secondary-300 text-secondary-600 font-medium;
    @apply hover:border-secondary-600 hover:text-secondary-600 hover:bg-opacity-100;
    @apply shadow-secondary-100/40 active:shadow-secondary-300/40;
  }

  .btn-tertiary {
    @apply btn bg-tertiary-100 border-tertiary-300 text-tertiary-600 font-medium;
    @apply hover:border-tertiary-600 hover:text-tertiary-600 hover:bg-opacity-100;
    @apply shadow-tertiary-100/40 active:shadow-tertiary-300/40;
  }

  .btn-danger {
    @apply btn bg-danger-100 border-danger-300 text-danger-600 font-medium;
    @apply hover:border-danger-600 hover:text-danger-600 hover:bg-opacity-100;
    @apply shadow-danger-100/40 active:shadow-danger-300/40;
  }

  .btn-success {
    @apply btn bg-success-100 border-success-300 text-success-600 font-medium;
    @apply hover:border-success-600 hover:text-success-600 hover:bg-opacity-100;
    @apply shadow-success-100/40 active:shadow-success-300/40;
  }

  .btn-cancel {
    @apply btn bg-cancel-100 border-cancel-300 text-cancel-600 font-medium;
    @apply hover:text-tertiary-700 hover:bg-tertiary-200 hover:border-tertiary-400;
    @apply shadow-cancel-100/40 active:shadow-cancel-300/40;
  }
}
