.focus-space {
  @apply pt-64 pb-16 lg:pt-0 lg:pb-0;
  @apply w-full min-h-full flex-col gap-16 justify-center items-center backdrop-blur-md;
  display: none;

  background: var(--focus-space-background);

	background-size: 400% 400%;
	animation: animated-gradient-background 14s linear infinite;
}

.focus-app.space-showing .focus-space {
  display: flex;
}
