.focus-space {
  @apply fixed pt-64 md:pt-0 flex-col gap-16 justify-center items-center z-999 top-0 left-0 w-full h-full backdrop-blur-md overflow-scroll;
  display: none;

  background: linear-gradient(
    -45deg,
    color-mix(in srgb, var(--color-one) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-two) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-three) var(--background-opacity), transparent),
    color-mix(in srgb, var(--color-four) var(--background-opacity), transparent)
  );

	background-size: 400% 400%;
	animation: animated-background 14s linear infinite;
}

.focus-app.space-showing .focus-space {
  display: flex;
}
