
.pomodoro-timer {
  @apply max-w-3xl mx-auto;

  .timer-display {
    @apply text-center font-bold;
    font-size: 7.6rem;
    color: color-mix(in srgb, var(--focus-space-color-readable) 60%, transparent);
    letter-spacing: 2px;
  }

  .timer-presets {
    @apply flex flex-wrap justify-center gap-4 mb-6 w-full;

  }

  .timer-controls {
    @apply flex justify-center gap-4 mt-4 w-full;
  }

  .timer-modal {
    @apply fixed inset-0 flex items-center justify-center z-50;
    background: rgba(, 0, 0, 0.3);
    backdrop-filter: blur(5px);

    .timer-modal-content {
      @apply p-6 rounded-xl shadow-lg border;
      background-color: color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);
      color: var(--focus-space-color-readable);
      border: 2px solid color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);
      position: relative;

      .close-button {
        @apply absolute top-2 right-2 text-2xl;
      }

      .input-field {
        @apply rounded-md p-2;
        background: white;
        border: 1px solid color-mix(in srgb, var(--focus-space-color-readable) 20%, transparent);
        color: #333;
      }
    }
  }
}
