<tr>
  <td><%= issue.title %></td>
  <td>
    <% issue.labels.each do |label| %>
      <%= badge_for_label(label) %>
    <% end %>
  </td>
  <td><%= l issue.created_at, format: :short %></td>
  <td><%= l issue.updated_at, format: :short %></td>
  <td>
    <div class="flex gap-4 text-lg opacity-80">
      <button class="link-base">
        <i class="fa fa-edit"></i>
      </button>
      <button class="link-danger">
        <i class="fa fa-trash-can"></i>
      </button>
    </div>
  </td>
</tr>
