<% file_input_name ||= :files %>

<div
  class="dropzone-wrapper"
  data-controller="dropzone"
  data-action="dropzone:complete->issue-form#fileUploadCompleted"
  >

  <%= form.file_field(
    file_input_name,
    class: 'hidden',
    direct_upload: true,
    multiple: true,
    disabled: true,
    data: {
      "dropzone-target": 'input'
    }
  ) %>

  <div class="dz-message needsclick drop-container">
    <div class="message-container">
      <div>
        <a>Click to upload</a> or drag and drop your files here.
      </div>
    </div>
  </div>

  <div id="dz-previews-container" data-dropzone-target="previewsContainer" class="previews-container">
  </div>

  <div class="hidden">
    <div data-dropzone-target="previewTemplate">
      <div class="dz-preview dz-file-preview preview-file">
        <div class="dz-progress"><div class="dz-upload" data-dz-uploadprogress style="width: 0;"></div></div>

        <img data-dz-thumbnail />
        <div class="dz-details file-details">
          <div class="dz-filename"><span data-dz-name></span></div>
          <div class="dz-size" data-dz-size></div>
        </div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>

        <i class="fa-light fa-times file-remove-icon" data-dz-remove></i>
      </div>
    </div>
  </div>
</div>