<% set_page_title(:reports) %>

<div class="max-w-5xl mx-auto">
  <%= render partial: 'reports/_total_time/filters', locals: { q: @q } %>

  <% if params[:q].present? %>
    <%= render partial: 'reports/_total_time/report' %>
  <% else %>
    <%= render partial: 'choose_filters' %>
<% end %>
</div>