<% set_page_title(:reports) %>

<%= render partial: 'reports/_total_time/filters', locals: { q: @q } %>

<div class="mt-8">
  <% if params[:q].present? %>
    <%= render partial: 'reports/_total_time/report' %>
  <% else %>
    <%= render EmptyListComponent.new(message: t(".choose_filters")) %>
  <% end %>
</div>