name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  quality:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare CI files
        run: bin/prepare-ci

      - name: Build the app
        run: docker compose build web

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: docker compose run --rm --remove-orphans web bin/brakeman --no-pager

      - name: Lint code for consistent style
        run: docker compose run --rm --remove-orphans web bin/rubocop -f github

      - name: Stop containers
        if: always()
        run: docker compose down

  tests:
    needs: [quality]
    runs-on: self-hosted
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare CI files
        run: bin/prepare-ci

      - name: Build the app
        run: docker compose build web

      - name: Setup DB
        run: docker compose run --rm --remove-orphans web bin/rails db:prepare

      - name: Setup Assets
        run: docker compose run --rm --remove-orphans web bin/rake assets:precompile

      - name: Run Rspec
        run: docker compose run -e "RAILS_ENV=test" --rm --remove-orphans web bundle exec rspec spec

      - name: Stop containers
        if: always()
        run: docker compose down
